<template>
  <div class="black">
     here is the test component iBlack
  </div>
</template>

export default  {
    name: "iBlack",
    props: [],
    mounted() {
      
    },
    data() {
      return {
        test: null
      }
    },
    methods: {
     
    },
    computed: {
  
    }
}

<style>
</style>
